[Unit]
Description=UDP server for driving stimulation pulses
After=network.target

[Service]
ExecStart=/home/kemerelab/Stimserver/stimserver
RestartSec=5

[Install]
WantedBy=multi-user.target

