[Unit]
Description=UDP server for driving stimulation pulses
After=network.target

[Service]
ExecStart=/usr/local/bin/stimserver
RestartSec=5

[Install]
WantedBy=multi-user.target

